:root {
  --dark-bg-color: #1F2937;
  --hero-main-txt-color: #F9FAF8;
  --hero-secondary-txt-color: #E5E7EB;
  --button-color: #3882F6;
  --info-txt-color: #1F2937;
  --quote-bg-color: #E5E7EB; 
}

html {
  font-family: "Helvetica", sans-serif;
}

nav {
  background-color: var(--dark-bg-color, #1F2937);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav h1 {
  font-size: 24px;
  color: var(--hero-main-txt-color, #F9FAF8);
}

nav ul {
  font-size: 18px;
  color: var(--hero-secondary-txt-color, #E5E7EB);
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.hero {
  background-color: var(--dark-bg-color, #1F2937);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  gap: 50px;
}

.hero img {
  width: 525px;
  height: 235px;
  flex: none;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--hero-main-txt-color);
  flex: 0 auto;
}

.hero-descr {
  font-size: 18px;
  color: var(--hero-secondary-txt-color, #E5E7EB);
  flex: 0 auto;
}

.sign-up-btn {
  background-color: var(--button-color, #3882F6);
  color: var(--hero-main-txt-color, #F9FAF8); 
  font-size: 18px;
  border-radius: 8px;
  padding: 4px 16px;
  border: none;
  flex: none;
}

.random-info-container {
  background-color: var(--hero-main-txt-color, #F9FAF8);
  text-align: center;
  padding: 60px 0;
}

.random-info-container h1 {
  font-size: 36px;
  font-weight: 800;
  color: var(--info-txt-color, #1F2937);
  margin: 0 0 60px 0;
}

.random-info-cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.random-info-card-descr {
  font-size: 18px;
  color: var(--info-txt-color, #1F2937);
}

.quote-container {
  background-color: var(--quote-bg-color, #E5E7EB);
  padding: 100px 0;
}

.quote-txt {
  font-size: 36px;
  font-style: italic;
  color: var(--info-txt-color, #1F2937);
}

.quote-author {
  font-size: 24px;
  font-weight: 800;
  color: var(--info-txt-color, #1F2937);
  text-align: right;
}

.call-to-action-container {
  margin: 60px 0;
  padding: 40px 0;
  background-color: var(--button-color, #3882F6);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.call-to-action-title {
  color: var(--hero-main-txt-color, #F9FAF8);
  font-size: 24px;
  font-weight: 800;
}

.call-to-action-container .sign-up-btn {
  border: solid;
  border-width: 2px;
  border-color: var(--hero-main-txt-color, #F9FAF8);
}

footer {
  background-color: var(--dark-bg-color, #1F2937);
  padding: 40px 0;
  text-align: center;
}